
main {
    width: 100%;
    /* background-color: blue; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/HouseHotelPool-2_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    padding-block: 80px;
}
.contact {
    margin-top: 150px;
    width: 400px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*background-color: pink;
    */padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.content-img {
    width: 300px;
    height: 300px;
    /* background-color: green; */
    border-radius: 50%;
    overflow: hidden;
    
}

.portrait-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(43, 56, 199, 0.831);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
}

form div {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
form label {
    margin-right: 5px;
}
.btn {
    padding: 5px;
    border-radius: 8px;
    /* background-color: rgb(18, 180, 18); */
    background-color: rgba(43, 56, 199, 0.944);
    color: #ffff;
}

/* @media screen and (min-width: 768px) {
    header.active main {
        padding-block: 50px;
    }
} */