main {
    width: 100%;
    /* background-color: blue; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/HouseHotelPool-2_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    padding-block: 80px;
}

.container {
    width: 80%;
    margin: 10px auto;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* background-color: darkgreen; */

}
.card {
    max-width: 800px;
    min-height: 300px;
    padding: 20px 10px;
     display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: .3s ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.775); */
}
.card:nth-child(1) {
    background-image:  url("../img/pools/basement_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(2) {
    background-image:  url("../img/pools/pool-bar_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
.card:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/swimming-pool_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    
    box-shadow: 0px 4px 8px 0 hsla(0, 0%, 31%, 0.796);
}
/* 
.card-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;
} */

img {
  width: inherit;
  height: inherit;
}
.card-txt {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
}

.card-txt h3 {
    text-transform: uppercase;
}
.card-txt h3, .card-txt p, .card-txt a  {
    text-align: center;
}

.panorama-btn {
    color: #fff;
    background-color: rgba(30, 143, 255, 0.809);;
    padding: 10px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

