main {
    width: 100%;
    /* background-color: blue; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/HouseHotelPool-2_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
    padding-block: 80px;
}

.container {
    width: 80%;
    margin: 10px auto;
    color: var(--txt-color);
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-color);

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* background-color: darkgreen; */

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/HouseHotelPool-2_1920.jpg");
}
.card:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/pool-bar_640.jpg");
}
.card:nth-child(3){
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/basement_640.jpg");
}
.card:last-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), transparent), url("../img/pools/swimming-pool_640.jpg");
}


.txt-card {
    position: relative;
}

.txt-card p  {
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.667);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn {
    padding: 8px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    right: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}