@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color : #2795c5;
    --secondary-color : #fff;
    --third-color : #f5f5dc;
    --txt-color : #333;
}
html {
    scroll-behavior: smooth;
    color: var(--txt-color);
}


a {
    text-decoration: none;
    font-size: 14px;
}
body {
    /* background-color: green; */
    font-family: 'Roboto', sans-serif;
    color: var(--txt-color);
    font-size: 18px;
    /* position: relative; */
}
/* HEADER*/
header {
    padding: 0 80px ;
     /* position: fixed; */
     width: 100%;
     margin: 0 auto;
     min-height: 80px;
     position: fixed;
     /* background-color: pink; */
     
     z-index: 1;
 
}

header, nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   

}
header {
    min-height: 65px;
    padding: 0 80px;
    /* background-color: var(--third-color); */
    gap: 20px;
    width: 100%;
}
header, nav a  {
    color: var(--secondary-color);
}

.logo a {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

nav {
    gap: 20px;
    flex-wrap: wrap; 
}

.flag {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
.flag img {
    width: 35px;
}

header.active {
    background-color: var(--secondary-color);
}
header.active .logo a{
    background-color: var(--secondary-color);
}

header.active nav a {
    color: var(--txt-color);
 }




/* FOOTER */
footer {
    min-height: 30px;
    /* background-color: beige; */
    box-shadow: 0px 4px 8px 0 hsla(0, 0%, 31%, 0.796);
    margin-top: 20px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: var(--txt-color);

}
 footer a {
    text-transform: uppercase;
   
 }
/** RESPONSIVE */

/** MOBILE */

@media screen and (max-width: 768px) {
    header, nav {
        flex-direction: column;
    }
    nav {
        max-height: 15vh;
        gap: 1.5px;;
        flex-wrap: nowrap;
    }
    nav a {
        font-size: 10px;
    }
    .flag {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 809px){
    
}