<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/advise.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>House Hôtel | les actualités </title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="../../index.html"">HouseHôtel</a>
        </div>
        <nav>
            <a href="../../index.html">Accueil </a>
            <a href="room.html">Chambre</a>
            <a href="restaurant.html">Restaurant </a>
            <a href="spa.html">Spa </a>
            <a href="reservation.html">Réservation </a>
            <a href="advise.html">Avis </a>
            <a href="hotel.html">L'hotel </a>
            <a href="actualities.html">Actualités </a>
            <a href="contact.html">Contact </a>
        </nav>
        <div class="flag">
            <a href=""><img src="../img/flag/france.png" alt="drapeau france" /></a>
            <a href=""
              ><img
                src="../img/flag/united-kingdom.png" alt="drapeau united-kingdom"/></a>
          </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
      </header>
      <main>
          <div class="container">
            <h1>nos actualités</h1>
            <section>
                <h2>monsieur dupont</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem autem tempore iure consequuntur saepe vero provident adipisci dolores nobis, aut totam dolorum voluptatum hic reiciendis?</p>
                <div class="star">
                    🌟🌟🌟🌟🌟
                </div>
            </section>
            <section>
                <h2>madame durant</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem autem tempore iure consequuntur saepe vero provident adipisci dolores nobis, aut totam dolorum voluptatum hic reiciendis?</p>
                <div class="star">
                    🌟🌟🌟🌟
                </div>
            </section>
            <section>
                <h2>la contesse de la tour</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem autem tempore iure consequuntur saepe vero provident adipisci dolores nobis, aut totam dolorum voluptatum hic reiciendis?</p>
                <div class="star">
                    🌟🌟🌟🌟🌟
                </div>
            </section>
        </div>
      </main>
      <footer>
        <a href="">mentions légales</a>
        <a href="">househôtel</a>
    </footer>
    <!-- https://www.flaticon.com/  icon libre de droit-->
    <script src="../js/app.js"></script>
    
</body>
</html>