<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reservation.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>House Hôtel | réservation</title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="../../index.html"">HouseHôtel</a>
        </div>
        <nav>
            <a href="../../index.html">Accueil </a>
            <a href="room.html">Chambre</a>
            <a href="restaurant.html">Restaurant </a>
            <a href="spa.html">Spa </a>
            <a href="reservation.html">Réservation </a>
            <a href="advise.html">Avis </a>
            <a href="hotel.html">L'hotel </a>
            <a href="actualities.html">Actualités </a>
            <a href="contact.html">Contact </a>
        </nav>
        <div class="flag">
            <a href=""><img src="../img/flag/france.png" alt="drapeau france" /></a>
            <a href="">
                <img
                src="../img/flag/united-kingdom.png" alt="drapeau united-kingdom"/>
            </a>
          </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
      </header>
      <main>
        <div class="container">
            <h1>nos offres</h1>
            <div class="cards">
                <div class="card">
                    <h2>a little week-end</h2>
                    <div class="content">
                        <div class="img-card"><img src="" alt=""></div>
                        <div class="txt-card">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit facere inventore voluptate ab nisi ipsam!</p>
                            <a href="" class="btn">je réserve</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h2>one long week</h2>
                    <div class="content">
                        <div class="img-card"><img src="" alt=""></div>
                        <div class="txt-card">
                            <p>Recusandae nesciunt culpa iure officia, obcaecati reprehenderit nam iusto voluptates facere. Itaque iure quo placeat?</p>
                            <a href="" class="btn">je réserve</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h2>little holidays</h2>
                    <div class="content">
                        <div class="img-card"><img src="" alt=""></div>
                        <div class="txt-card">
                            <p>Quaerat odio quos ad assumenda ducimus distinctio, alias, laboriosam quis inventore aliquid eligendi libero aspernatur!</p>
                            <a href="" class="btn">je réserve</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h2>long holidays</h2>
                    <div class="content">
                        <div class="img-card"><img src="" alt=""></div>
                        <div class="txt-card">
                            <p>Corrupti doloribus et expedita. Atque pariatur mollitia voluptas alias provident fuga ab quae earum dolor?</p>
                            <a href="" class="btn">je réserve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </main>

      <footer>
        <a href="">mentions légales</a>
        <a href="">househôtel</a>
    </footer>
    <!-- https://www.flaticon.com/  icon libre de droit-->
    <script src="../js/app.js"></script>
</body>
</html>