<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/restaurant.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>House Hôtel | Nos Restaurants </title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="../../index.html"">HouseHôtel</a>
        </div>
        <nav>
            <a href="../../index.html">Accueil </a>
            <a href="room.html">Chambre</a>
            <a href="restaurant.html">Restaurant </a>
            <a href="spa.html">Spa </a>
            <a href="reservation.html">Réservation </a>
            <a href="advise.html">Avis </a>
            <a href="hotel.html">L'hotel </a>
            <a href="actualities.html">Actualités </a>
            <a href="contact.html">Contact </a>
        </nav>
        <div class="flag">
            <a href=""><img src="../img/flag/france.png" alt="drapeau france" /></a>
            <a href=""
              ><img
                src="../img/flag/united-kingdom.png" alt="drapeau united-kingdom"/></a>
          </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
      </header>
      <main>
          <div class="container">
                <h1>nos déclices</h1>
                <div class="cards">
                    <div class="card">
                        <div class="card-txt">
                            <h2>nos déclices</h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
                            ipsa?
                            </p>
                            <a class="discover-btn" href="">Découvrez la carte</a>
                            <div class="delicious">
                                <div class="wrapper">
                                    <div class="dish">
                                        <div class="menu">
                                            <p class="menu-txt">foie d'oie à la truffe noir</p>
                                            <div class="anime-wrapper slideInRight ">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt">canard à l'orange</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt">sorbet de fraise</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-txt">
                            <h2>nos déclices</h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
                            ipsa?
                            </p>
                            <a class="discover-btn" href="">Découvrez la carte</a>
                            <div class="delicious">
                                <div class="wrapper">
                                    <div class="dish">
                                        <div class="menu">
                                            <p class="menu-txt">velouté de hommard </p>
                                            <div class="anime-wrapper slideInRight ">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt"> crabe aux gingembres</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt">fondue de glace aux litchis</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-txt">
                            <h2>nos déclices</h2>
                            <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
                            ipsa?
                            </p>
                            <a class="discover-btn" href="">Découvrez la carte</a>
                            <div class="delicious">
                                <div class="wrapper">
                                    <div class="dish">
                                        <div class="menu">
                                            <p class="menu-txt">brochettes de gambas</p>
                                            <div class="anime-wrapper slideInRight ">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt">tacos andalouse</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu">
                                            <p class="menu-txt">cacao noir intense</p>
                                            <div class="anime-wrapper slideInRight">
                                                <div class="validate">
                                                    <i class="fas fa-check icon-Color rotateIn"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </main>
      <footer>
        <a href="">mentions légales</a>
        <a href="">househôtel</a>
    </footer>
    <!-- https://www.flaticon.com/  icon libre de droit-->
    <script src="../js/app.js"></script>
    
</body>
</html>