<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/spa.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>House Hôtel | le spa </title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="../../index.html"">HouseHôtel</a>
        </div>
        <nav>
            <a href="../../index.html">Accueil </a>
            <a href="room.html">Chambre</a>
            <a href="restaurant.html">Restaurant </a>
            <a href="spa.html">Spa </a>
            <a href="reservation.html">Réservation </a>
            <a href="advise.html">Avis </a>
            <a href="hotel.html">L'hotel </a>
            <a href="actualities.html">Actualités </a>
            <a href="contact.html">Contact </a>
        </nav>
        <div class="flag">
            <a href=""><img src="../img/flag/france.png" alt="drapeau france" /></a>
            <a href="">
                <img
                src="../img/flag/united-kingdom.png" alt="drapeau united-kingdom"/>
            </a>
          </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
      </header>
      <main>
        <div class="container">
            <h1>nos soins</h1>
            <div class="cards">
                <div class="card">
                    <h2>douceur du tibet</h2>
                    <div class="spa-card">
                        <div class="card-img">
                            <img src="../img/spa/wellness_640.jpg" alt="séance d'harmonie de vibration sonore avec des bols tibétains">
                        </div>
                        <div class="card-txt">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="reservation.html" class="btn">profitez-en !</a>
                    </div>
                </div>
                <div class="card">
                    <h2>pierres chaleureses</h2>
                    <div class="spa-card">
                        <div class="card-img">
                            <img src="../img/spa//stones_640.jpg" alt="séance d'harmonie par des pierres chaudes">
                        </div>
                        <div class="card-txt">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="reservation.html" class="btn">profitez-en !</a>
                    </div>
                </div>
                <div class="card">
                    <h2>massage thaï</h2>
                    <div class="spa-card">
                        <div class="card-img">
                            <img src="../img/spa/relaxation-spa_640.jpg" alt="séance de massage à quatre mains">
                        </div>
                        <div class="card-txt">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <a href="reservation.html" class="btn">profitez-en !</a>
                    </div>
                </div>
            </div>
        </div>
        
      </main>

      <footer>
        <a href="">mentions légales</a>
        <a href="">househôtel</a>
    </footer>
    <!-- https://www.flaticon.com/  icon libre de droit-->
    <script src="../js/app.js"></script>
</body>
</html>